cagov-highlight-section {
	article {
		.container {
			max-width: var(--w-lg, 1176px) !important;
			margin-right: auto;
			margin-left: auto;
			padding-left: 1rem;
			padding-right: 1rem;
			padding-top: 1.5rem;
			padding-bottom: 2rem;
		}

		.highlight-body {
			display: flex;
			flex-direction: column;
			.highlight-image {
				background-color: var(--primary-lightest-color, #b3c9eb);
				padding: 1.5rem;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 0px;

				img {
					width: 100%;
					margin: auto;
				}
			}
			.highlight-text {
				background-color: #ffffff;
				padding: 1.5rem;
				padding-top: 0.75rem;
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;

				h1,
				h2,
				h3 {
					margin-top: 0;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	cagov-highlight-section article .container {
		padding-left: 10%;
		padding-right: 10%;
		.highlight-header {
			text-align: center;
		}
		.highlight-body {
			flex-direction: row;

			.highlight-image {
				border-top-left-radius: 5px;
				border-top-right-radius: 0px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 0px;
				max-width: 30%;
				img {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			.highlight-text {
				border-top-left-radius: 0px;
				border-top-right-radius: 5px;
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 5px;
				width: 100%;
			}
		}
	}
}

@media (min-width: 1440px) {
	cagov-highlight-section article .container {
		padding-left: 10rem;
		padding-right: 10rem;
	}
}

// TO_DO:  add to base css utility classes
.full-bleed {
	margin-left: calc(50% - 50vw);
	width: 99.5vw;
}
.bg-highlight-lightest {
	background-color: var(--highlight-lightest-color, #ffecc1) !important;
}
.mt-0 {
	margin-top: 0 !important;
}
