/* agency footer */
section.agency-footer {
	.container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		box-sizing: border-box;
		max-width: var(--w-lg, 1176px);
		margin: 0 auto;
		padding: 16px;
	}

	a {
		color: var(--primary-color, #064e66);
		&:hover {
			color: var(--primary-hover-color, #043747);
		}
		&:focus {
			outline: 2px solid var(--highlight-color, #fec02f);
		}
	}

	.footer-logo:not(:empty) {
		width: 54px;
		margin-right: 24px;
		img {
			width: 100%;
		}
	}

	.footer-secondary-links {
		display: flex;
		flex-direction: column;
		font-size: 1.125rem;
		a {
			margin-right: 1.7rem;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}
	}

	.footer-social-links {
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;
		a {
			text-decoration: none;
			padding-right: 0.3rem;
			padding-left: 0.3rem;
			transition: all 0.3s ease;
			svg path {
				fill: var(--primary-color, #064e66);
			}
			&:hover {
				svg path {
					fill: var(--primary-dark-color, #1e1569);
				}
			}
		}
	}
}

@media (min-width: 991px) {
	.footer-secondary-links,
	section.agency-footer .container {
		flex-direction: row !important;
		align-items: center;
	}
	.footer-social-links {
		margin-left: auto;
	}
}

// Misc
.bg-light-grey {
	background-color: var(--gray-100, #f9f9fa);
}

.pt-0 {
	padding-top: 0 !important;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
