---
layout: index
permalink: /error.html
title: Page not found
eleventyExcludeFromCollections: true
---
<main id="body-content" class="cagov-main">
  <article id="post-not-found" class="cagov-article with-single-column">
    <h1 class="page-title">
      We can't find the page you're looking for.
    </h1>
    <p>
      Try going to our <a href="/">homepage</a>.
    </p>
  </article>
</main>