---
permalink: /
title: California Design System
description: The California Design System makes it easy for state digital teams to build accessible, consistent, and performant services and products to meet Californians’ needs.
---

<div class="full-bleed full-bleed--highlight1">
  <div class="full-bleed-content-area wp-block-ca-design-system-hero cagov-with-sidebar cagov-with-sidebar-left cagov-featured-section cagov-bkgrd-gry cagov-block wp-block-cagov-hero">
    <div>
      <div class="cagov-stack p-b-3 cagov-featured-sidebar">
        <h1 class="m-t-3">Meet the California Design System</h1>
        <div class="cagov-hero-body-content">
          <p>The Design System makes it easy for state digital teams to build accessible, consistent, and performant services and products to meet Californians’ needs.</p>
          <div class="wp-block-button">
            <a class="wp-block-button__link" href="/get-started/">Get started</a>
          </div>
        </div>
      </div>
      <div class="m-y-4"><img class="cagov-featured-image" src="/img/hero-bear-nature.svg" alt="California bear with abstract shapes" width="1024" height="683"></div>
    </div>
  </div>
</div>

<h2 class="m-t-4">What's in the Design System</h2>
<div class="cagov-cluster-3">
  <div class="cagov-stack-card">
    <div class="cagov-card-head">
      <img class="img-fluid" src="/img/principles.png" alt="abstract shapes in circles" />
    </div>
    <div class="cagov-card-body">
      <a href="/principles/" class="h4 d-block m-t-0 no-underline">Principles</a>
      <p class="">Designing excellent services and products is hard. These best practices guide you in your journey.</p>
    </div>
  </div>
  <div class="cagov-stack-card">
    <div class="cagov-card-head">
      <img class="img-fluid" src="/img/guides.png" alt="abstract shapes and lines" />
    </div>
    <div class="cagov-card-body">
      <a href="/style/content/" class="h4 d-block m-t-0 no-underline">Content and design guides</a>
      <p>Design systems are only as good as what goes in them. The content and design guides help you consistently build quality services and products.</p>
    </div>
  </div>
  <div class="cagov-stack-card">
    <div class="cagov-card-head">
      <img class="img-fluid" src="/img/library.png" alt="many colored circles" />
    </div>
    <div class="cagov-card-body">
      <a href="/components/" class="h4 d-block m-t-0 no-underline">Component library</a>
      <p>You do not have to reinvent the wheel every time you need a digital solution. The components solve common user needs for you.</p>
    </div>
  </div>
</div>

<div class="cagov-with-sidebar cagov-with-sidebar-left cagov-no-reverse p-t-5 p-b-2">
  <div>
    <div class="cagov-stack cagov-featured-sidebar cagov-pr-2">
      <h2 class="m-b-3">What design systems do</h2>
    </div>
    <div class="cagov-mb-1">
      <p class="lead cagov-mb-3">Design systems provide solutions to common problems digital teams face. They combine UX principles, interface components, and code. Teams work faster, design better, and focus on new problems instead of old ones.</p>
      <div class="cagov-cluster-3">
        <span>
          <p class="cagov-bold">Consistent user experiences</p>
          <p>Services and products that use the design system feel the same, even when they have their own identity. This puts the focus on what Californians need to do.</p>
        </span>
        <span>
          <p class="cagov-bold">Accessibility and performance</p>
          <p>All production-level components meet WCAG 2.1 accessibility standards. Our components work well across a range of devices and internet speeds.</p>
        </span>
      </div>
      <div class="cagov-cluster-3">
        <span>
          <p class="cagov-bold">Tested solutions</p>
          <p>We test components before releasing them. This lets departments deploy them with confidence without having to do their own testing.</p>
        </span>
        <span>
          <p class="cagov-bold">Shared vocabulary</p>
          <p>A common language for components, patterns, and conventions increases collaboration within and across teams.</p>
        </span>
      </div>
      <div class="cagov-cluster-3">
        <span>
          <p class="cagov-bold">Leverage best practices across California</p>
          <p>The Design System captures tried-and-true best practices and allows other teams to use them.</p>
        </span>
        <span>
          <p class="cagov-bold">Effective use of resources</p>
          <p>With common problems already solved, designers and developers can speed through the basics, doing more with less time and budget.</p>
        </span>
      </div>
    </div>
  </div>
</div>

{% set principleNumber = range(1, 9) | random %}
{% set principle = editable.principles[principleNumber] %}

<div>
  <cagov-highlight-section>
    <article role="article" class="full-bleed p-b-2" style="background-image:url(/img/bg-poly.png); background-size: cover; background-repeat:no-repeat">
      <div class="container">
        <header class="highlight-header">
          <h2>Principles for people-centered digital services</h2>
        </header>
        <section class="highlight-body">
          <div class="highlight-image bg-primary-lightest">
            <img src="/img/principles-stacked.svg" alt="highlight section demo"/>
          </div>
          <div class="highlight-text">
            <h3>{{ principle.name }}</h3>
            <h4 class="mt-0">Principle {{ principleNumber }}</h4>
            <p>{{ principle.description }}</p>
            <a class="btn-primary-outline d-inline-block" href="/principles/">See all the principles</a>
          </div>
        </section>
      </div>
    </article>
  </cagov-highlight-section>
</div>
<div class="full-bleed full-bleed--highlight2 p-y-3">
  <div class="full-bleed-content-area--block">
    <h2 class="d-block pt-1 mb-0">Be a part of the Design System</h2>
  </div>
  <div class="full-bleed-content-area contact-us">
    <div class="contact-us-content homepage-form">
      <p>We'd love to talk about how we can partner with you.</p>
      <div class="contact-us-content-form">
      {%- from "macros/design-system-form.njk" import designSystemContact -%}
      {{ designSystemContact("Home page") }}
      </div>
    </div>
    <div class="contact-us-image">
      <img src="/img/partner-design-system.svg" alt="abstract orrery">
    </div>
  </div>
</div>

<h2 class="m-t-3">Who's using the Design System</h2>
<div class="cagov-cluster-big-2">
  <div class="cagov-stack-card">
    <div class="cagov-card-head cagov-card-head--blue">
      <img src="/img/example-cannabis.png" alt="cannabis.ca.gov website homepage" />
    </div>
    <div class="cagov-card-body pt-0">
      <h3>Department of Cannabis Control</h3>
      <p>This site is the first implementation of Design System components. It proved the design system model works for state departments.</p>
      <p><a href="https://cannabis.ca.gov/" class="cagov-border-link">Visit 
      <span class="sr-only">Department of Cannabis Control</span>
      website</a></p>
    </div>
  </div>
  <div class="cagov-stack-card">
    <div class="cagov-card-head cagov-card-head--blue">
      <img src="/img/example-covid.png" alt="covid19.ca.gov website homepage" />
    </div>
    <div class="cagov-card-body pt-0">
      <h3>COVID19.ca.gov</h3>
      <p>We built the page feedback component so state departments could get direct thoughts from Californians. COVID19.ca.gov was the initial testing ground for this innovative component.</p>
      <p><a href="https://covid19.ca.gov/" class="cagov-border-link">Visit 
      <span class="sr-only">covid19.ca.gov</span>
      website</a></p>
    </div>
  </div>
</div>
