---
permalink: /
---

<div class="full-bleed full-bleed--highlight1">
  <div class="full-bleed-content-area wp-block-ca-design-system-hero cagov-with-sidebar cagov-with-sidebar-left cagov-featured-section cagov-bkgrd-gry cagov-block wp-block-cagov-hero">
    <div>
      <div class="cagov-stack cagov-py-2 cagov-pr-2 cagov-featured-sidebar">
        <h2>Meet the California Design System</h2>
        <div class="cagov-hero-body-content">
          <p>The Design System makes it easy for state digital teams to build accessible, consistent, and performant services and products to meet Californians’ needs.</p>
          <div class="wp-block-button">
            <a class="wp-block-button__link" href="/get-started/">Get started</a>
          </div>
        </div>
      </div>
      <div><img class="cagov-featured-image" src="/img/feature-sketch.svg" alt="sketch of people collaborating" width="1024" height="683"></div>
    </div>
  </div>
</div>

<h2>What's in the Design System</h2>
<div class="cagov-cluster-3">
  <div class="cagov-stack-card">
    <div class="cagov-card-head">
      <img src="/img/target-sketch.svg" alt="sketch of dart in target" />
    </div>
    <div class="cagov-card-body">
      <a href="/principles/" class="cagov-section-highlight cagov-section-highlight-link">Principles</a>
      <p class="">Designing excellent services and products is hard. These best practices guide you in your journey.</p>
    </div>
  </div>
  <div class="cagov-stack-card">
    <div class="cagov-card-head">
      <img src="/img/guides-sketch.svg" alt="sketch of checklist" />
    </div>
    <div class="cagov-card-body">
      <a href="/style/content/" class="cagov-section-highlight cagov-section-highlight-link">Content and design guides</a>
      <p>Design systems are only as good as what goes in them. The content and design guides help you consistently build quality services and products.</p>
    </div>
  </div>
  <div class="cagov-stack-card">
    <div class="cagov-card-head">
      <img src="/img/library-sketch.svg" alt="sketch of control panel" />
    </div>
    <div class="cagov-card-body">
      <a href="/components/" class="cagov-section-highlight cagov-section-highlight-link">Component library</a>
      <p>You do not have to reinvent the wheel every time you need a digital solution. The components solve common user needs for you.</p>
    </div>
  </div>
</div>

<div class="cagov-with-sidebar cagov-with-sidebar-left cagov-no-reverse cagov-mt-2">
  <div>
    <div class="cagov-stack cagov-featured-sidebar cagov-pr-2">
      <h2>What design systems do</h2>
    </div>
    <div>
      <p class="cagov-section-highlight cagov-mb-3">Design systems provide solutions to common problems digital teams face. They combine UX principles, interface components, and code. Teams work faster, design better, and focus on new problems instead of old ones.</p>
      <div class="cagov-cluster-3">
        <span>
          <p class="cagov-bold">Consistent user experiences</p>
          <p>Services and products that use the design system feel the same, even when they have their own identity. This puts the focus on what Californians need to do.</p>
        </span>
        <span>
          <p class="cagov-bold">Accessibility and performance</p>
          <p>All production-level components meet WCAG 2.1 accessibility standards. Our components work well across a range of devices and internet speeds.</p>
        </span>
      </div>
      <div class="cagov-cluster-3">
        <span>
          <p class="cagov-bold">Tested solutions</p>
          <p>We test components before releasing them. This lets departments deploy them with confidence without having to do their own testing.</p>
        </span>
        <span>
          <p class="cagov-bold">Shared vocabulary</p>
          <p>A common language for components, patterns, and conventions increases collaboration within and across teams.</p>
        </span>
      </div>
      <div class="cagov-cluster-3">
        <span>
          <p class="cagov-bold">Leverage best practices across California</p>
          <p>The Design System captures tried-and-true best practices and allows other teams to use them.</p>
        </span>
        <span>
          <p class="cagov-bold">Effective use of resources</p>
          <p>With common problems already solved, designers and developers can speed through the basics, doing more with less time and budget.</p>
        </span>
      </div>
    </div>
  </div>
</div>

{% set principleNumber = range(1, 9) | random %}
{% set principle = principles[principleNumber] %}

<div>
  <cagov-highlight-section>
    <article role="article" class="full-bleed bg-highlight-lightest">
      <div class="container">
        <header class="highlight-header">
          <h2>Principles for people-centered digital services</h2>
        </header>
        <section class="highlight-body">
          <div class="highlight-image bg-primary-lightest">
            <img src="https://california.azureedge.net/cdt/statetemplate/5.6.0/images/color.png" alt="highlight section demo"/>
          </div>
          <div class="highlight-text">
            <h3>{{ principle.name }}</h3>
            <h4 class="mt-0">Principle {{ principleNumber }}</h4>
            <p>{{ principle.description }}</p>
            <div class="wp-button">
              <a class="btn-primary-outline" href="/principles/">See all the principles</a>
            </div>
          </div>
        </section>
      </div>
    </article>
  </cagov-highlight-section>
</div>

<div class="full-bleed full-bleed--highlight2">
  <div class="full-bleed-content-area get-involved">
    <div class="get-involved-content">
      <h2>Be a part of the Design System</h2>
      <p>We'd love to talk about how we can partner with you.</p>
      <div class="get-involved-content-form">
        <cagov-airtable-form
          data-airtable-service-endpoint="https://fa-go-design-system-cagov-airtable-form.azurewebsites.net/api/AirtableFormTrigger?code=Zu6Ck/103KrMh2mp/7CANtN3dMrtHMpjdhayZm82OnGava5/A1urvQ=="
          data-airtable-database="app4B5KqaCTSHAdCS"
          data-airtable-table="01 - Design System Launch"
          data-response-success="Submitted"
          data-response-error="Nope"
        >
          <form>
            <div class="form-field">
              <label for="name">Your name</label>
              <input type="text" id="name" name="name" data-airtable-field="Name" placeholder="Name" required>
            </div>         
            <div class="form-field">
              <label for="email">Your email</label>
              <input type="email" id="email" name="email" data-airtable-field="Email" placeholder="Email address" required>
            </div>
            <div class="form-field">
              <label for="request">How can we help you?</label>
              <div class="form-select">
                <select id="request" data-airtable-field="Request">
                  <option value="Send me updates on the Design System">
                    Send me updates on the Design System
                  </option>
                </select>
              </div>
            </div>
            <div class="wp-block-button">
              <button class="wp-block-button__link airtable-form-submit" id="airtable-form-submit">Submit</button>
            </div>
          </form>
        </cagov-airtable-form>
      </div>
    </div>
    <div class="get-involved-image">
      <img src="/img/desk-work-sketch.svg" alt="sketch of person working at computer desk">
    </div>
  </div>
</div>


<h2>Who's using the Design System</h2>
<div class="cagov-cluster-big-2">
  <div class="cagov-stack-card">
    <div class="cagov-card-head">
      <img src="/img/example-cannabis.png" alt="cannabis.ca.gov website homepage" />
    </div>
    <div class="cagov-card-body">
      <h3>Department of Cannabis Control</h3>
      <p>This site is the first implementation of Design System components. It proved the design system model works for state departments.</p>
      <p><a href="https://cannabis.ca.gov/" class="cagov-border-link">Visit website</a></p>
    </div>
  </div>
  <div class="cagov-stack-card">
    <div class="cagov-card-head">
      <img src="/img/example-covid.png" alt="covid19.ca.gov website homepage" />
    </div>
    <div class="cagov-card-body">
      <h3>COVID19.ca.gov</h3>
      <p>We built the page feedback component so state departments could get direct thoughts from Californians. COVID19.ca.gov was the initial testing ground for this innovative component.</p>
      <p><a href="https://covid19.ca.gov/" class="cagov-border-link">Visit website</a></p>
    </div>
  </div>
</div>
