{% macro componentSection(collection) %}
  {% if collection %}
    <section class="component-cards">
      {%- for component in collection -%}
        <div class="component-card">
          <svg xmlns="http://www.w3.org/2000/svg" class="component-card-svg" width="200" height="120" viewBox="0 0 200 120">
            <rect fill="#F9F9FA" width="200" height="120"/>
            <text fill="#E1E0E3" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">200×120</text>
          </svg>
          <a class="component-card-link" href="/components/{{ component.slug }}/readme">{{ component.name }}</a>
          <p class="component-card-status">{{ component.status }}</p>
          <p class="component-card-blurb">{{ component.blurb }}</p>
        </div>
      {%- endfor -%}
    </section>
  {% endif %}
{% endmacro %}

<h1>Component Library</h1>
<p>General introduction paragraph here.</p>

<h2>Structural components</h2>
<p>Intro paragraph to structural components.</p>
{{ componentSection(componentSets.structural) }}

<h2>Navigation components</h2>
<p>Intro paragraph to navigation components.</p>
{{ componentSection(componentSets.navigation) }}

<h2>Visual components</h2>
<p>Intro paragraph to visual components.</p>
{{ componentSection(componentSets.visual) }}

<h2>Content components</h2>
<p>Intro paragraph to content components.</p>
{{ componentSection(componentSets.content) }}
