.no-deco {
  text-decoration: none;
}

.cagov-card {
  border: 1px solid #ededef;
  padding: 1rem;
  border-bottom: 0.3rem solid #33705B;
  border-bottom: 0.3rem solid var(--primary-color, #33705B);
  border-radius: 0.3rem;
  min-width: 250px;
  min-height: 50px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.cagov-card .card-text {
  color: #33705B;
  /* defined here for when css vars are not supported */
  color: var(--primary-color, #33705B) !important;
  /* variable used with fallback in case it is not defined */
  /* color: #33705B !important; */
  font-size: 1.75rem;
  line-height: 40px;
  padding: 0;
  margin: 0;
}
.cagov-card svg {
  fill: #33705B;
  fill: var(--primary-color, #33705B);
  width: 1rem;
  margin-top: .2rem;
  margin-left: 1rem;
  max-height: 25px;
}

.cagov-card:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cagov-grid, .cagov-grid .block-editor-block-list__layout {
  display: grid;
  grid-gap: 1.5rem;
}
/* editor override */
.cagov-grid .block-editor-block-list__block {
  margin: 0;
}

@supports (width: calc(min(250px, 100%))) {
  .cagov-grid, .cagov-grid .block-editor-block-list__layout {
    grid-template-columns: repeat(auto-fit, minmax( calc(min(250px, 100%)), 1fr));
  }
}