{% macro componentCardList(collection) %}
  <section class="component-cards">
    {%- for component in collection -%}
      <div class="component-card">
        <a href="/components/{{ component.slug }}/readme" aria-label="component svg">
          <div class="component-card-img">
          {%- include component.svg -%}
          </div>
        </a>
        <div class="component-card-content">
          <a class="component-card-link" href="/components/{{ component.slug }}/readme">
            {{ component.name }}
          </a>
          <p class="component-card-status">
            {{ component.status }}
          </p>
          <p class="component-card-blurb">
            {{ component.blurb }}
          </p>
        </div>
      </div>
    {%- endfor -%}
  </section>
{% endmacro %}