{% macro principlesPageItem(principles, number) %}
  {% set principle = principles[number] %}
  <section class="principle-page-item">
    <div class="kicker h4">Principle {{ number }}</div>
    <h2>{{ principle.name }}</h2>
    <p>{{ principle.description | safe }}</p>
    <blockquote>
      <p>{{ principle.example | safe }}</p>
    </blockquote>
  </section>
{% endmacro %}