.component-cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1.5rem);
  margin: 1.5rem 0;
}

.component-card {
  padding: 1rem;
  border: solid 1px #E1E0E3;
  border-radius: .5rem;
  max-width: calc(200px + 2rem);
  &-link {
    text-decoration: none;
    display: block;
  }
  &-status, &-link {
    font-weight: 700;
  }
  &-blurb, &-status, &-link {
    margin: .25rem 0;
  }
  &-img {
    max-width: 200px;
    max-height: 150px;
    background-color: #F9F9FA;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.component-sidebar {
  &-heading, &-item {
    margin: 1.5rem 0;
  }
  &-heading:first-child {
    margin-top: 0;
  }
  &-heading {
    font-weight: 700;
  }
  &-item {
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
  }
  &-selected {
    margin: 0 0 0 1rem;
    font-weight: 700;
  }
  &-link {
    text-decoration: none;
  }
  &-link-new {
    background-color: var(--secondary-color, #FF8000);
    font-size: .8rem;
    color: white;
    padding: .25rem .5rem;
    border-radius: 1rem;
  }
  &-menu {
    &-content {
      margin: .5rem 0
    }
    &-button {
      display: none;
      align-items: center;
      column-gap: .75rem;
      width: 100%
    }
    &-text {
      flex-grow: 1;
      text-align: start;
      color: var(--primary-color, #004abc);
    }
    &-arrow {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 767px) {
  .component-sidebar-menu-button {
    display: flex;
  }
  .component-sidebar-menu-content {
    margin: 32px 0;
    display: none;
  }
  .component-sidebar-menu-content-reveal {
    display: block;
  }
}

.component-document-tabs {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  border-bottom: solid 1px #E1E0E3;
  margin-bottom: 1.5rem;
  &-selected {
    font-weight: 700;
    border-bottom: solid 3px var(--secondary-color, #FF8000);
  }
  &-link {
    text-decoration: none;
  }
  &-link, &-selected {
    padding: .5rem;
  }
}

.component-development-stage {
  border: solid 1px #A09FA7;
  padding: 1rem;
  margin: 1.5rem 0;
  &-heading {
    font-weight: 700;
  }
  &-description {
    margin: 0;
  }
  &-grid {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    margin: 1rem 0;
    div {
      display: flex;
      flex-direction: row;
      column-gap: .5rem;
      align-items: center;
      &.current-development-stage {
        dt {
          background-color: var(--secondary-color, #FF8000);
          color: white;
        }
        font-weight: 700;
      }
      dt {
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px var(--secondary-color, #FF8000);
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
      }
    }
  }
}