.component-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space, 1.5rem);
  margin: 1.5rem 0;
}

@media screen and (max-width: 1000px) {
  .component-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .component-cards {
    grid-template-columns: 1fr;
  }
}

.component-card {
  border: solid 1px #e1e0e3;
  border-radius: 0.5rem;
  &-link {
    text-decoration: none;
    display: block;
  }
  &-status,
  &-link {
    font-weight: 700;
  }
  &-blurb,
  &-status,
  &-link {
    margin: 0.25rem 0;
  }
  &-img {
    background-color: #f5f5fa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    svg {
      height: 100%;
      width: 100%;
    }
  }
  &-content {
    padding: 1rem;
  }
}

.component-sidebar {
  &-heading,
  &-item {
    margin: 1.5rem 0;
  }
  &-heading:first-child {
    margin-top: 0;
  }
  &-heading {
    font-weight: 700;
  }
  &-item {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
  }
  &-selected {
    margin: 0;
    font-weight: 700;
  }
  &-link {
    text-decoration: none;
  }
  &-link-new {
    background-color: var(--accent1-500, #de6516);
    font-size: 0.8rem;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
  }
  &-document {
    &-link {
      margin: 1.5rem 0 1.5rem 1rem;
      display: block;
      text-decoration: none;
    }
    &-selected {
      padding-left: calc(1rem - 3px);
      margin: 1.5rem 0;
      border-left: solid 3px var(--accent1-500, #de6516);
    }
  }
  &-menu {
    &-content {
      margin: 0.5rem 0;
    }
    &-button {
      display: none;
      align-items: center;
      column-gap: 0.75rem;
      width: 100%;
      border: none;
      padding: 1rem;
      border: none !important;
    }
    &-text {
      flex-grow: 1;
      text-align: start;
      color: var(--primary-700, #165ac2);
    }
    &-arrow {
      display: inline-block;
      transform: rotate(0deg);
      transition: $slow;
    }
    &-arrow-transform {
      transform: rotate(180deg);
      display: block;
      transition: $slow;
    }
  }
}

@media screen and (max-width: 767px) {
  .component-sidebar {
    border-bottom: 1px solid var(--gray-300, #e1e0e3) !important;
    margin-bottom: 1rem;
  }
  .component-sidebar-menu-button {
    display: flex;
  }
  .component-sidebar-menu-content {
    margin: 1rem 0;
    padding: 0 1rem;
    display: none;
  }
  .component-sidebar-menu-content-reveal {
    display: block;
  }
}

.component-document-tabs {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  border-bottom: solid 1px #e1e0e3;
  margin-bottom: 1.5rem;
  &-selected {
    font-weight: 700;
    border-bottom: solid 3px var(--accent1-500, #de6516);
  }
  &-link {
    text-decoration: none;
  }
  &-link,
  &-selected {
    padding: 0.5rem;
  }
}

.component-development-stage {
  border: solid 1px #a09fa7;
  padding: 1rem;
  margin: 1.5rem 0;
  &-heading {
    font-weight: 700;
  }
  &-description {
    margin: 0;
  }
  &-grid {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    margin: 1rem 0;
    div {
      display: flex;
      flex-direction: row;
      column-gap: 0.5rem;
      align-items: center;
      &.current-development-stage {
        dt {
          background-color: var(--accent1-500, #de6516);
          color: var(--black, #000000);
        }
        font-weight: 700;
      }
      dt {
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px var(--accent1-500, #de6516);
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .component-development-stage-grid {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}

.code-preview {
  border: solid 1px #a09fa7;
  background-color: #f9f9fa;
  padding: 1rem;
  margin: 1rem 0;
  &-demo {
    border: solid 1px #a09fa7;
    background-color: white;
    padding: 1rem;
  }
  &-reset-button {
    margin-bottom: 1rem;
  }
  .code-block {
    margin-bottom: 0;
  }
}

.code-block {
  margin: 1rem 0;
  &-language {
    background-color: #2b2b2b;
    color: #a09fa7;
    border-bottom: solid 1px #a09fa7;
    font-style: italic;
    margin: 0;
    padding: 0.5rem 1rem;
  }
  code.hljs {
    margin: 0;
  }
}

code.hljs {
  border-radius: 0;
}
