.cagov-table table {
  width: 100%;
}
.cagov-table table.partial-borders {
  border-bottom: none;
  border-right: none;
}
.bgcolor-chips td {
  height: 5rem;
}
.font-demo {
  border: solid 1px #ccc;
  padding: 2rem;
  display: inline-block;
  margin-bottom: 2rem;
}