/* homepage base-css overrides */
.main-content-ds.landing {
  margin-top: -2rem;
}
/* mobile padding for whole page */
@media screen and (max-width: 767px) {
  .entry-content {
    padding: 0 1rem;
  }
  // will remove extra padding in mobile since main content container is already there
  #main-content .entry-content {
    padding: 0;
  }
}
/* fix h1 on markdown pages */
.entry-content h1:first-of-type {
  margin: 0;
  padding: 0 0 24px 0;
}
/* For the BETA tag that appears in the site header */
.org-name-dept sup {
  color: var(--secondary-color, #ff8000);
  font-size: 0.6em;
}
/* Prevent images from overflowing on the component pages */
.component-page img {
  max-width: 100%;
}

/* utility class used on homepage midsection */
.cagov-mb-3 {
  margin-bottom: 3rem;
}

.pt-1 {
  padding: 1rem 0 0 0;
}
.mb-0 {
  margin-bottom: 0 !important;
}

blockquote {
  padding: 1rem;
  margin: 1.5rem 0;
  background-color: var(--secondary-lightest-color, #FFD9B3);
  p:last-child {
    margin: 0;
  }
}