table {
    font-weight: 100;
    margin: 30px 10px;
    th {
        font-weight: 100;
    }
    td {
        padding: 10px 5px;
        border-bottom: 1px solid #ededed;
    }
}

.header {
    margin: 0;
    padding: 30px;
    color: #FFF;
    h2 {
        color: #FFF;
    }
    p {
        font-weight: 100;
    }
}