<!DOCTYPE html>
<html>

<head>
  <script type="module" src="dist/ds-accordion.es.js"></script>
</head>

<body>


  <cagov-accordion>
    <h2 slot="heading">Lorem ipsum</h2>
    <p>Anim <a href="#">pariatur</a> cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
    Brunch 3 wolf moon tempor, <a href="#">sunt</a> aliqua put a bird on it squid single-origin coffee nulla assumenda
    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
    <ul>
      <li>Test <a href="#">first bullet</a>.</li>
      <li>And another.</li>
    </ul>
  </cagov-accordion>

  <cagov-accordion>
    <h2 slot="heading">Lorem ipsum</h2>
    <p>Anim <a href="#">pariatur</a> cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
    Brunch 3 wolf moon tempor, <a href="#">sunt</a> aliqua put a bird on it squid single-origin coffee nulla assumenda
    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
    <ul>
      <li>Test <a href="#">first bullet</a>.</li>
      <li>And another.</li>
    </ul>
  </cagov-accordion>

  <cagov-accordion>
    <h2 slot="heading">Lorem ipsum</h2>
    <p>Anim <a href="#">pariatur</a> cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
    Brunch 3 wolf moon tempor, <a href="#">sunt</a> aliqua put a bird on it squid single-origin coffee nulla assumenda
    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
    <ul>
      <li>Test <a href="#">first bullet</a>.</li>
      <li>And another.</li>
    </ul>
  </cagov-accordion>


</body>

</html>