<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Web component preview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Reusable preview HTML page for testing components">
    <link rel="stylesheet" href="https://california.azureedge.net/cdt/CAWeb/combined-css/1.0.1/dist/cagov.css">
    <link rel="stylesheet" href="index.css">
    <script type="module">
      import './src/index.js';
    </script>
  </head>

  <body>

    <div class="main">

      <div class="component-test-container"></div>

    </div>

    <script>
      fetch('./template.html')
        .then(response => response.text())
        .then((string) => { document.querySelector('.component-test-container').innerHTML = string; });
    </script>

  </body>

</html>