<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Web component preview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Reusable preview HTML page for testing components">
    <link rel="stylesheet" href="https://california.azureedge.net/cdt/CAWeb/combined-css/1.0.1/dist/cagov.css">
    <link rel="stylesheet" href="index.css">
    <script type="module">
      import './src/index.js';
    </script>
  </head>

  <body>

    <div class="main">
      <cagov-page-alert data-icon="ca-gov-icon-bell" data-message="Notice: DCC is soliciting proposals for the Local Jurisdiction Assistance Grant Program. <a href=&quot;/about-us/grant-funding/local-jurisdiction-assistance-grant-program/&quot;>Learn more</a>."></cagov-page-alert>
    </div>

  </body>

</html>