/* agency footer */
section.site-footer {
	border-top: solid 1px var(--gray-300, #bcbbc1);
	border-bottom: solid 1px var(--gray-300, #bcbbc1);

	.container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		box-sizing: border-box;
		max-width: var(--w-lg, 1176px);
		margin: 0 auto;
		padding: 16px;
	}

	a {
		color: var(--primary-700, #165ac2);
		&:hover {
			color: var(--primary-900, #003588);
		}
		&:focus {
			outline: 2px solid var(--accent2-500, #ac8226);
		}
	}

	.footer-logo:not(:empty) {
		width: 54px;
		margin-right: var(--s-3, 1.5rem);
		img {
			width: 100%;
		}
	}

	.footer-secondary-links {
		display: flex;
		flex-direction: column;
		font-size: var(--font-size-2, 1.125rem);
		a {
			margin-right: 1.7rem;
			padding-top: var(--s-1, 0.5rem);
			padding-bottom: var(--s-1, 0.5rem);
		}
	}

	.footer-social-links {
		white-space: nowrap;
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;
		a {
			text-decoration: none;
			padding-right: 0.3rem;
			padding-left: 0.3rem;
			transition: all 0.3s ease;
			svg path {
				fill: var(--primary-700, #165ac2);
			}
			&:hover {
				svg path {
					fill: var(--primary-900, #003588);
				}
			}
		}
	}
}

@media (min-width: 991px) {
	.footer-secondary-links,
	section.site-footer .container {
		flex-direction: row !important;
		align-items: center;
	}
	.footer-social-links {
		margin-left: auto;
	}
}

// Misc
.bg-light-grey {
	background-color: var(--gray-100, #ededef);
}

.pt-0 {
	padding-top: 0 !important;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
