cagov-page-feedback {
	width: 100%;

	.feedback-form {
		background: var(--primary-dark-color, #003484);
		padding: 1rem;
		border-radius: 0.3125rem;
		max-width: var(--w-lg, 1176px);
		margin: 0 auto;

		&-question {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		&-label {
			color: #fff;
			background-color: var(--primary-dark-color, #003484);
			font-size: 1.125rem;
			display: block;
			margin-right: 1rem;
			transition: 0.3s color cubic-bezier(0.57, 0.2, 0.21, 0.89);
			line-height: 3rem;
			width: auto;
			@media (max-width: 768px) {
				line-height: unset;
				margin-bottom: 1rem;
			}
		}
		&-button {
			padding: 1rem;
			color: var(--primary-dark-color, #003484);
			border: none;
			border-radius: 0.3rem;
			transition: 0.3s background cubic-bezier(0.57, 0.2, 0.21, 0.89);
			cursor: pointer;
			margin: 0 0.5rem 0 0;
			display: inline !important;

			/* defensive overrides */
			position: relative;
			text-transform: none;
			top: auto;
			right: auto;
			background: #fff;

			&:hover {
				box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
				text-decoration: underline;
			}
			&:focus {
				box-shadow: 0 0 0 2px #fff;
			}
			.feedback-yes {
				margin-right: 1rem;
			}
		}

		&-add {
			padding-top: 0;
			display: none;
			@media (max-width: 768px) {
				text-align: left;
				padding-top: 0;
			}
		}
		&-add-grid {
			position: relative;
			margin-top: 1rem;
			display: inline-flex;
			flex-flow: column;
			align-items: flex-start;
			@media (max-width: 768px) {
				display: block;
			}
		}

		&-textarea {
			width: 100%;
			padding: 1rem;
			margin-bottom: 1rem;
			font-family: "Roboto", sans-serif;
			color: var(--primary-dark-color, #003484);
			max-width: 90%;
			height: 127px;
			width: 600px;
		}

		&-thanks {
			display: none;
			color: #fff;
		}

		&-error {
			position: relative;
			top: 100%;
			left: 0;
			display: none;
			font-weight: 300;
			text-align: left;
		}
	} // end .feedback-form
} // end cwds-pagerating
