/* branding */
.branding {
	box-sizing: border-box;
	background-color: var(--white, #fff);
	border-bottom: 1px solid var(--gray-300, #e1e0e3);
	.container {
		max-width: var(--w-lg, '1176px');
		margin: 0 auto;
		padding: 5px 0 0 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: relative;
	}
	.logo {
		margin-bottom: 5px;
		&:focus {
			outline: 2px solid var(--secondary-color, #fec02f);
		}
	}

	.logo-img {
		margin-left: 10px;
	}
	.branding-logo {
		color: var(--black, #000);
		text-decoration: none;
		margin-left: 10px;
		margin-bottom: 10px;
		margin-top: 10px;
		&:focus {
			outline: 2px solid var(--secondary-color, #fec02f);
		}
		.logo-text {
			padding-left: 5px;
			display: inline-block;

			.logo-state {
				font-size: var(--small-text, 1rem);
				margin: 0;
				padding: 0;
				height: 20px;
				line-height: 1.2em;
				transition: all 0.3s;
				display: block;
			}
			.logo-dept {
				font-size: 1.75rem;
				font-weight: 700;
				margin: 0;
				padding: 0;
				height: 24px;
				line-height: 1.2em;
				transition: all 0.3s;
				display: block;
			}
		}
	}

	// Search box
	.search-container {
		display: none; // display none in mobile
		position: absolute;
		right: 15px;
		top: 20px;
		width: 30%;

		&.show {
			display: block;
			position: relative;
			display: block;
			position: relative;
			width: 100%;
			background-color: var(--gray-100, #f9f9fa);
			padding: 20px 16px 20px 16px;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			border-top: 1px solid var(--primary-color, #e1e0e3);
			border-bottom: 1px solid var(--primary-color, #e1e0e3);
		}
	}
}
.branding, cagov-navoverlay {
	.search-container {
		.site-search {
			display: flex;
			position: relative;
			// submit input
			.search-textfield {
				border: 1px solid;
				border-color: var(--primary-dark-color, #064e66);
				border-radius: 4px;
				padding: 10px;
				width: 100%;
				font-size: 1rem;
			}
			// submit button
			.search-submit {
				position: relative;
				right: 5px;
				outline-offset: -2px;
				background-color: var(--standout-color, #064e66);
				border: 1px solid var(--standout-color, #064e66);
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				padding: 7px 14px 4px 14px;
				&:hover {
					background-color: var(--primary, #064E66);
					border-color: var(--primary, #064E66);
				}
				&:focus {
					outline: 2px solid var(--secondary-color, #fec02f);
				}
				svg path {
					fill: var(--white, #fff);
				}
			}

			.search-close {
				color: var(--primary-dark-color, #064e66);
				text-decoration: underline;
				border: none;
				background-color: var(--gray-100, #f9f9fa);
				padding: 0 15px 0 15px;
				&:hover {
					color: var(--primary, #064E66);
					text-decoration: none;
				}
				&:focus {
					outline: 2px solid var(--secondary-color, #fec02f);
				}
			}
		}
	}
	.search-container--small.hidden-search {
		display: none;
	}
}



// Hamburger menu to X transition
.toggle-menu {
    position: relative;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    cursor: pointer;

	.menu-btn-text {
		margin-left: 25px;
	}

    span {
        display: block;
        margin-left: 0;
        margin-right: 0;
        position: absolute;
        height: 2px;
        width: 20px;
        background: var(--primary, #064E66);
        border-radius: 5px;
        opacity: 1;
        left: 10px;
        transform: rotate(0deg);
        transition: .15s ease-in-out;

        &:nth-child(1) {
            top: 15px;
        }

        &:nth-child(2), &:nth-child(3) {
            top: 22px;
        }

        &:nth-child(4) {
            top: 29px;
        }
    }

	&:hover, &:focus {
		span {
			background: var(--primary-dark-color, #064e66);
		}
	}

    &[aria-expanded="true"] {
        span:nth-child(1) {
            top: 12px;
            width: 0%;
            left: 20%;
        }

        span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        span:nth-child(4) {
            top: 12px;
            width: 0%;
            left: 20%;
        }
    }
}

@media (min-width: 768px) {
	.mobile-icons,
	.search-close {
		display: none !important;
	}
	.branding .search-container {
		display: block;
	}
}
