.branding {
  padding: 0 15px;
  box-sizing: border-box;
  background-color: var(--white, #fff);
  border-bottom: 1px solid var(--gray-300, #e1e0e3);
}
.branding .container {
  max-width: var(--w-lg, "1176px");
  margin: 0 auto;
  padding: 16px 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: "org-name mobile-icons";
  column-gap: 0.5rem;
  row-gap: 0.25rem;
  justify-items: start;
}
.branding .container.with-logo {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "logo mobile-icons" "org-name org-name";
}
.branding .container .search-container {
  display: none;
}
.branding .grid-logo {
  grid-area: logo;
  align-self: center;
  display: flex;
  align-items: center;
}
.branding .grid-org-name {
  grid-area: org-name;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  transition: all 0.3s;
  color: var(--black, #000);
  text-decoration: none;
}
.branding .grid-org-name:focus {
  outline: 2px solid var(--secondary-color, #fec02f);
}
.branding .grid-search {
  grid-area: search;
  align-self: center;
  justify-self: end;
  min-width: 40%;
}
.branding .grid-mobile-icons {
  grid-area: mobile-icons;
  align-self: center;
  justify-self: end;
}
.branding .org-name-state {
  display: block;
  font-family: var(--org-name-state-font, "Public Sans", sans-serif);
  font-size: var(--org-name-state-font-size, 1rem);
  font-weight: var(--org-name-state-font-weight, 500);
  line-height: var(--org-name-state-line-height, 1.2);
  text-transform: var(--org-name-state-text-transform, none);
}
.branding .org-name-dept {
  display: block;
  font-family: var(--org-name-dept-font, "Public Sans", sans-serif);
  font-size: var(--org-name-dept-font-size, 1.75rem);
  font-weight: var(--org-name-dept-font-weight, 700);
  line-height: var(--org-name-dept-line-height, 1.2);
  text-transform: var(--org-name-dept-text-transform, none);
}
.branding .mobile-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 10px;
}
.branding .mobile-search {
  margin: 0 !important;
}
.branding button.search-btn,
.branding button.menu-btn {
  padding: 0 !important;
  border: none;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  background: transparent;
  overflow: visible;
  padding: 10px;
  color: var(--primary-color, #064e66);
}
.branding button.search-btn:hover,
.branding button.menu-btn:hover {
  color: var(--primary-dark-color, #043747);
}
.branding button.search-btn:hover .blue,
.branding button.menu-btn:hover .blue {
  fill: var(--primary-dark-color, #043747);
}
.branding button.search-btn:focus,
.branding button.menu-btn:focus {
  color: var(--primary-dark-color, #043747);
  outline: 2px solid var(--highlight-color, #fdb81e);
}
.branding button.search-btn svg,
.branding button.menu-btn svg {
  display: inline-block;
}
.branding button.search-btn .blue,
.branding button.menu-btn .blue {
  fill: var(--primary-color, #064e66);
}
.branding .menu-trigger {
  padding: 0 !important;
  margin: 0 !important;
  transition: 0.3s;
  transform-origin: top left;
  display: inline-block;
  cursor: pointer;
  position: relative;
  color: var(--primary-color, #064e66);
  display: flex;
  align-items: center;
  top: -2px;
  right: 0;
  transition: 0.3s;
  transform-origin: center center;
}
.branding .menu-trigger .is-fixed {
  position: fixed;
}
.branding .menu-trigger .hamburger-inner {
  background-color: var(--primary-color, #064e66);
}
.branding .menu-trigger:hover {
  color: var(--primary-dark-color, #043747);
}
.branding .menu-trigger:hover .hamburger-inner:before, .branding .menu-trigger:hover .hamburger-inner:after {
  background-color: var(--primary-dark-color, #043747);
}
.branding .hamburger {
  padding: 0.15rem 0.15rem;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  position: relative;
  top: 3px;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
  z-index: 10000;
  margin-right: 0.5rem;
}
.branding .hamburger-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}
.branding .hamburger-inner {
  display: block;
  top: 50%;
  width: 20px;
  margin-top: -1px;
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.branding .hamburger-inner, .branding .hamburger-inner:before, .branding .hamburger-inner:after {
  height: 2px;
  border-radius: 0;
  position: absolute;
  transition-property: transform, width, background-color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.branding .hamburger-inner:before, .branding .hamburger-inner:after {
  width: 20px;
  content: "";
  display: block;
}
.branding .hamburger-inner:before {
  top: -6px;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in, width 0.1s 0.12s ease-out;
}
.branding .hamburger-inner:after {
  bottom: -6px;
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), width 0.1s 0.12s ease-out;
}

.display-menu .cagov-nav.hamburger .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 12px;
}
.display-menu .cagov-nav.hamburger .hamburger-inner, .display-menu .cagov-nav.hamburger .hamburger-inner:before, .display-menu .cagov-nav.hamburger .hamburger-inner:after {
  width: 20px !important;
}
.display-menu .cagov-nav.hamburger .hamburger-inner:before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.display-menu .cagov-nav.hamburger .hamburger-inner:after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.branding .search-container .site-search,
cagov-navoverlay .search-container .site-search {
  display: flex;
  position: relative;
}
.branding .search-container .site-search .search-textfield,
cagov-navoverlay .search-container .site-search .search-textfield {
  border: 1px solid;
  border-color: var(--secondary-color, #064e66);
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
}
.branding .search-container .site-search .search-submit,
cagov-navoverlay .search-container .site-search .search-submit {
  position: relative;
  right: 5px;
  outline-offset: -2px;
  background-color: var(--secondary-color, #064e66);
  border: 1px solid var(--secondary-color, #064e66);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 7px 14px 4px 14px;
}
.branding .search-container .site-search .search-submit:hover,
cagov-navoverlay .search-container .site-search .search-submit:hover {
  background-color: var(--primary-color, #064e66);
  border-color: var(--primary-color, #064e66);
}
.branding .search-container .site-search .search-submit:focus,
cagov-navoverlay .search-container .site-search .search-submit:focus {
  outline: 2px solid var(--standout-color, #fec02f);
}
.branding .search-container .site-search .search-submit svg path,
cagov-navoverlay .search-container .site-search .search-submit svg path {
  fill: var(--white, #fff);
}
.branding .search-container .site-search .search-close,
cagov-navoverlay .search-container .site-search .search-close {
  color: var(--primary-dark-color, #064e66);
  text-decoration: underline;
  border: none;
  background-color: var(--gray-100, #f9f9fa);
  padding: 0 15px 0 15px;
}
.branding .search-container .site-search .search-close:hover,
cagov-navoverlay .search-container .site-search .search-close:hover {
  color: var(--primary, #064e66);
  text-decoration: none;
}
.branding .search-container .site-search .search-close:focus,
cagov-navoverlay .search-container .site-search .search-close:focus {
  outline: 2px solid var(--secondary-color, #fec02f);
}
.branding .search-container--small.hidden-search,
cagov-navoverlay .search-container--small.hidden-search {
  display: none;
}

@media (min-width: 768px) {
  .mobile-icons,
.search-close {
    display: none !important;
  }

  .branding .container {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "org-name search";
  }
  .branding .container.with-logo {
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo org-name search";
  }
  .branding .search-container {
    display: block !important;
  }
}

/*# sourceMappingURL=index.css.map */
