/* Code generic styles */

code,
samp {
  background: var(--gray-100, #f9f9fa);
  color: var(--gray-900, #3f3e4d);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: var(--font-size-2, 1.125rem);
  font-size: calc(var(--font-size-2) + var(--ratio));
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
  margin: 24px 0;
}
