/* Links global styles */
a {
  color: var(--primary-color, #004abc);
  text-underline-position: under;

  &:hover {
    color: var(--primary-dark-color, #003484);
  }
  &:focus {
    outline: 2px solid var(--highlight-color, #fbad23);
  }

  text-decoration: underline;
}

a:focus,
button:focus {
  outline: solid 2px var(--highlight-color, #fbad23) !important;
}
