/* Links global styles */
a {
  color: var(--primary-700, #165ac2);

  &:hover {
    color: var(--primary-900, #003588);
  }
  &:focus {
    outline: 2px solid var(--accent2-500, #ac8226);
  }

  text-decoration: underline;
}

a:focus,
button:focus {
  outline: solid 2px var(--accent2-500, #ac8226) !important;
}
