/* Typography global styles */
body {
  font-family: var(--site-font, "Public Sans", sans-serif);
  font-size: var(--body-text, 1.125rem);
  font-weight: var(--font-weight-regular, 400);
  line-height: 1.5;
  color: var(--black, #000);
  @media (min-width: 768px) {
    font-size: calc(var(--body-text) + var(--ratio));
  }
}

/* TYPOGRAPHY */
h1.page-title {
  margin: 0 0 0 0;
  padding: 0 0 24px 0;
}

main {
  h2:first-child {
    margin-top: 0px;
  }
}

// paragraph margin
p {
  margin-bottom: calc(1rem + var(--ratio));
}

/* New styles, need home */
ul,
ol {
  margin-bottom: calc(1rem + var(--ratio));
}

ul li,
ol li {
  margin-bottom: calc(0.5rem + var(--ratio));
}

main ol li,
main ul li {
  margin-left: 32px;
}

main ol li {
  padding: 0 16px;
  margin-bottom: calc(0.5rem + var(--ratio));
}

/* Update position list element */
main ul li,
main ol li {
  list-style-position: outside;
}

h1,
.h1 {
  font-size: calc(2.9375rem + var(--ratio));
  margin-top: calc(3rem + var(--ratio));
  margin-bottom: calc(2rem + var(--ratio));
  font-weight: var(--font-weight-bold, 700);
}

h2,
.h2 {
  font-size: calc(2.3175rem + var(--ratio));
  margin-top: calc(2rem + var(--ratio));
  margin-bottom: calc(1.5rem + var(--ratio));
  font-weight: var(--font-weight-bold, 700);
}

h3,
.h3 {
  font-size: calc(1.8125rem + var(--ratio));
  margin-top: calc(1.5rem + var(--ratio));
  margin-bottom: calc(1rem + var(--ratio));
  font-weight: var(--font-weight-bold, 700);
}

h4,
.h4 {
  font-size: calc(1.4375rem + var(--ratio));
  margin-top: calc(1.5rem + var(--ratio));
  margin-bottom: calc(1rem + var(--ratio));
  font-weight: var(--font-weight-bold, 700);
}

h5,
.h5 {
  font-size: calc(1.125rem + var(--ratio));
  margin-top: calc(1.5rem + var(--ratio));
  margin-bottom: calc(1rem + var(--ratio));
  font-weight: var(--font-weight-bold, 700);
}

h6,
.h6 {
  font-size: calc(0.75rem + var(--ratio));
  margin-top: calc(1.5rem + var(--ratio));
  margin-bottom: calc(1rem + var(--ratio));
  font-weight: var(--font-weight-bold, 700);
}

.text-lead,
.lead {
  font-size: var(--lead-text, 1.4375rem);
  font-size: calc(var(--lead-text) + var(--ratio));
}
.text-small,
.text-sm {
  font-size: var(--small-text, 0.875rem);
  font-size: calc(var(--small-text) + var(--ratio));
}

// Mobile headings
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 2.625rem;
  }

  h2,
  .h2 {
    font-size: 2.0625rem;
  }

  h3,
  .h3 {
    font-size: 1.625rem;
  }

  h4,
  .h4 {
    font-size: 1.25rem;
  }

  h5,
  .h5 {
    font-size: 1rem;
  }

  h2:first-child,
  figure ~ h2:first-of-type {
    margin-top: 0px;
  }

  .text-lead,
  .lead {
    font-size: var(--lead-text-mobile, 1.25rem);
  }
  .text-small,
  .text-sm {
    font-size: var(--small-text-mobile, 0.875rem);
  }
}

/* lists */

ul.list-highlight {
  li {
    list-style: none;
    background-color: var(--gray-100, #f9f9fa);
    padding: 24px;
    margin-bottom: calc(1rem + var(--ratio));
    margin-left: 0;
    font-size: calc(1.75rem + var(--ratio));
    font-weight: var(--font-weight-bold, 700);
    span.has-black-color {
      margin-top: calc(1rem + var(--ratio));
      font-size: var(--body-text, 1.125rem);
      font-size: calc(var(--body-text) + var(--ratio));
      font-weight: var(--font-weight-regular, 400);
      display: block;
      line-height: 1.6;
    }
  }
}

/* Remove any margins from tags in Gutenberg blocks */
.cagov-stack h1,
.cagov-stack h2,
.cagov-stack h3,
.cagov-stack h4,
.cagov-card h1,
.cagov-card h2,
.cagov-card h3,
.cagov-card h4,
.cagov-card ul {
  margin: 0;
}

/* Image captions */
figure {
  background: none;
  border: none;
  figcaption {
    padding-left: 0;
    font-size: calc(0.875rem + var(--ratio));
  }
}
