/* Typography global styles */
body {
  font-weight: var(--font-weight-regular, 400);
}
/* TYPOGRAPHY */
h1.page-title {
  margin: 0 0 0 0;
  padding: 0 0 24px 0;
}

main {
  h2:first-child {
    margin-top: 0px;
  }
}

// paragraph margin
p {
  margin-bottom: 1rem;
}

/* New styles, need home */
ul, ol {
  margin-bottom: 1rem;
}

ul li, ol li {
  margin-bottom: 0.5rem;
}

main ol li, main ul li {
  margin-left: 32px;
}

main ol li {
  padding: 0 16px;
  margin-top: 0.5rem;
}

/* Update position list element */
main ul li, main ol li {
  list-style-position: outside;
}

h1,
.h1 {
  font-size: 2.9375rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-bold, 700);
}

h2,
.h2 {
  font-size: 2.3175rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-weight: var(--font-weight-bold, 700);
}

h3,
.h3 {
  font-size: 1.8125rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-bold, 700);
}

h4,
.h4 {
  font-size: 1.4375rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-bold, 700);
}

h5,
.h5 {
  font-size: 1.125rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-bold, 700);
}

h6,
.h6 {
  font-size: .75rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-bold, 700);
}

.text-lead, .lead { 
  font-size:  var(--lead-text,  1.4375rem);
}
.text-small, .text-sm { 
  font-size:  var(--small-text,  .875rem);
}

// Mobile headings
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 2.625rem;
  }

  h2,
  .h2 {
    font-size: 2.0625rem;
  }

  h3,
  .h3 {
    font-size: 1.625rem;
  }

  h4,
  .h4 {
    font-size: 1.25rem;
  }

  h5,
  .h5 {
    font-size: 1rem;
  }

  h2:first-child,
  figure ~ h2:first-of-type {
    margin-top: 0px;
  }

  .text-lead, .lead { 
    font-size:  var(--lead-text-mobile,  1.25rem);
  }
  .text-small, .text-sm { 
    font-size:  var(--small-text-mobile,  .875rem);
  }
}

/* lists */

ul.list-highlight {
  li {
    list-style: none;
    background-color: var(--gray-100, #f9f9fa);
    padding: 24px;
    margin-bottom: 1rem;
    margin-left: 0;
    font-size: 1.75rem;
    font-weight: var(--font-weight-bold, 700);
    span.has-black-color {
      margin-top: 1rem;
      font-size: var(--body-text, 1.125rem);
      font-weight: var(--font-weight-regular, 400);
      display: block;
      line-height: 1.6;
    }
  }
}

/* Remove any margins from tags in Gutenberg blocks */
.cagov-stack h1,
.cagov-stack h2,
.cagov-stack h3,
.cagov-stack h4,
.cagov-card h1,
.cagov-card h2,
.cagov-card h3,
.cagov-card h4,
.cagov-card ul {
  margin: 0;
}

/* Image captions */
figure {
  background: none; 
  border:none;
  figcaption {
    padding-left: 0;
    font-size: 0.875rem;
    }  
  }
  
