/* css var values */
:root {
  --s1: 0px; /* this needs to have px value or the calcs using it break */
}

/* my utility classes */
.p-2 {
  padding: 2rem;
}
.mb-2, .cagov-mb-2 {
  margin-bottom: 2rem;
}
.border {
  border: solid 1px;
}
.cluster .sp-bt {
  justify-content: space-between;
}
.fb-500 {
  flex-basis: 500px !important;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;
  border: 0 !important;
}
/* positions */
.position-sticky {
  position: sticky !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.position-fixed {
  position: fixed !important;
}
/* displays */
.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.d-block {
  display: block !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-grid {
  display: grid !important;
}
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
/* every-layout.dev layout classes */
.stack * + * {
  margin-top: 1.5rem;
}
