// Global variables

// Breakpoints
$mobile: 768px;
$mobile-min: 767px;
$tablet-buffer: 1216px;
$desktop: 1176px;
$desktop-min: 1176px;

:root {
  // Container widths
  --w-lg: 1176px;
  --w-lg: 1176px;
  --w-md: 960px;
  --w-sm: 720px;
  --w-xs: 540px;

  // Page container widths
  --w-page-content: 876px;

  // Padding elements
  --spacing-base: 8px;
  --padding-sm: calc(--spacing-base * 2); // 16px
  --padding-md: calc(--spacing-base * 3); // 24px
  --padding-lg: calc(--spacing-base * 4); // 32px

  // Margin elements
  /* haven't seen these used yet, they seem very large */
  --margin-sm: calc(--spacing-base * 6); // 48px
  --margin-md: calc(--spacing-base * 8); // 64px
  --margin-lg: calc(--spacing-base * 12); // 96px
  --margin-xl: calc(--spacing-base * 24); // 96px

  // Font
  --site-font: "Public Sans", sans-serif;

  // Font sizes
  --body-text: 1.125rem;
  --lead-text: 1.4375rem;
  --small-text: 0.875rem;

  // Responsive Font Ratio (for responsive typography (body))
  --ratio: 0.1vw;

  // font sizes mobile
  --body-text-mobile: 1rem;
  --lead-text-mobile: 1.25rem;
  --small-text-mobile: 0.875rem;

  // Font weights
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  // cagov main colors
  --cagov-highlight: #fec02f;
  --cagov-primary: #004abc;
  --cagov-primary-dark: #003484;
  --cagov-secondary: #ff8000;

  // Gray colors
  --white: #fff;
  --gray-100: #f9f9fa;
  --gray-200: #ededef;
  --gray-300: #e1e0e3;
  --gray-400: #d3d2d6;
  --gray-500: #c4c3c8;
  --gray-600: #b3b2b8;
  --gray-700: #a09fa7;
  --gray-800: #3f3e4d;
  --gray-900: #3f3e4d;
  --black: #000;
}
