/* footer */
footer {
  font-size: var(--font-size-1, 1rem);
  border-top: solid 1px var(--gray-200, #d4d4d7);

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    max-width: var(--w-lg, 1176px);
    margin: 0 auto;
    padding: var(--s-2, 1rem);
  }
  a {
    &:hover {
      color: var(--primary-900, #003588);
    }
    &:focus {
      outline: 2px solid var(--accent2-500, #ac8226);
    }
  }

  .footer-secondary-links {
    display: flex;
    flex-direction: column;

    a {
      margin-right: var(--s-3, 1.5rem);
      padding-top: var(--s-1, 0.5rem);
      padding-bottom: var(--s-1, 0.5rem);
      span.external-link-icon,
      span.ca-gov-icon-external-link {
        display: none;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }

  .bg-light-grey svg {
    padding: 0;
    .ca {
      fill: var(--cagov-highlight, #fec02f);
    }
    .gov {
      fill: var(--cagov-primary-dark, #003484);
    }
  }

  .cagov-logo {
    padding-top: var(--s-1, 0.5rem);
    padding-bottom: var(--s-1, 0.5rem);
    padding-right: var(--s-3, 1.5rem);
  }

  .footer-secondary-links a,
  .copyright {
    color: var(--black, #000);
    padding-top: var(--s-1, 0.5rem);
    padding-bottom: var(--s-1, 0.5rem);
  }

  .copyright {
    margin: 0;
  }
}

.bg-light-grey {
  background-color: var(--gray-50, #fafafa);
}

.pt-0 {
  padding-top: 0 !important;
}

// Large screens.
@media (min-width: 991px) {
  footer {
    .footer-secondary-links,
    .container {
      margin-right: auto;
      flex-direction: row;
      align-items: center;

      &.flex-col-end {
        flex-direction: column;
        align-items: end;
      }
    }
  }
}
