/* footer */
footer {
	font-size: 1rem;

	.container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		box-sizing: border-box;
		max-width: var(--w-lg, 1176px);
		margin: 0 auto;
		padding: 1rem;
	}
	a {
		&:hover {
			color: var(--primary-dark-color, #1e1569);
		}
		&:focus {
			outline: 2px solid var(--highlight-color, #fec02f);
		}
	}

	.footer-secondary-links {
		display: flex;
		flex-direction: column;

		a {
			margin-right: var(--padding-md, 24px);
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			&:hover {
				text-decoration: none;
			}
		}
	}

	.bg-light-grey svg {
		padding: 0;
		.ca {
			fill: var(--cagov-highlight, #fec02f);
		}
		.gov {
			fill: var(--cagov-primary-dark, #003484);
		}
	}

	.cagov-logo {
		padding: 0 0 0 0;
	}

	.bg-light-grey a,
	.copyright {
		color: var(--black, #000);
	}
}

.bg-light-grey {
	background-color: var(--gray-100, #f9f9fa);
}

.pt-0 {
	padding-top: 0 !important;
}

@media (min-width: 991px) {
	.footer-secondary-links,
	footer .container {
		flex-direction: row;
		align-items: center;
	}
}
