// Globally adds pdf icon to all links to pdf files. 
.pdf-link-icon {
  display: inline-block;
  outline: 1px solid;
  outline-offset: -2px;
  padding: 0;
  position: relative;
  left: 1px;
  top: -3px;
  line-height: .9rem; 
  text-decoration: none;
  svg path {
      fill: var(--primary-color, #064e66);
  }
}

// screen readers class
.sr-only  {
  height: unset!important;
  text-indent: -10000px;
  width: unset!important;
  clip: rect(0,0,0,0)!important;
  border: 0!important;
  margin: -1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  white-space: nowrap!important;
}