<div class="cagov-with-sidebar cagov-with-sidebar-left cagov-featured-section cagov-border">
  <div> <!-- intermediary wrapper -->
    <div class="cagov-stack cagov-p-2 cagov-featured-sidebar"><!-- sidebar -->
      <h2>Applying for a License</h2>
      <p>Learn about what is required to apply for a commercial cannabis license.</p>
      <a class="cagov-cta" href="/application/">Apply</a>
    </div>
    <div><!-- non-sidebar -->
      <img src="http://www.fillmurray.com/720/240" alt="Bill fill" class="cagov-featured-image" />
    </div>
  </div>
</div>