<!doctype html>

  <h2><a href="components/base-css/preview.html">preview all components using base css</a></h2>

<ul>
<li>
  <a href="components/accordion/preview.html">accordion</a>
</li>
<li>
  <a href="components/back-to-top/preview.html">back to top</a>
</li>
<li>
  <a href="components/feedback/preview.html">feedback</a>
</li>
<li>
  <a href="components/pagination/preview.html">pagination</a>
</li>
<li>
  <a href="components/page-navigation/preview.html">page navigation</a>
</li>
<li>
  <a href="components/menu/preview.html">dropdown menu</a>
</li>
</ul>