<!doctype html>
<html lang="en">

  <head>
    <title>Design system base CSS
    </title>
    <script>
      const onThemeChanged = (e) => {
        const style = document.querySelector('#theme-stylesheet');
        style.setAttribute('href', `dist/themes/${e.target.id}.css`);
      };

      setTimeout(() => {
        document
          .querySelector('#cannabis')
          .addEventListener('change', onThemeChanged);
        document
          .querySelector('#drought')
          .addEventListener('change', onThemeChanged);
      }, 400);
    </script>
    <link id="theme-stylesheet" rel="stylesheet" href="dist/themes/drought.css">

    <link type="text/css" rel="stylesheet" href="../card-grid/index.css">
    <link type="text/css" rel="stylesheet" href="../step-list/index.css">
    <link type="text/css" rel="stylesheet" href="../menu/dist/_style.css">
    <style>
      .hidden-search,
      .sr-only {
        display: none;
      }
    </style>
  </head>

  <body>

    <div class="page-container-ds">

      <h1>Design System Base CSS</h1>
      <p>Toggle between themes</p>

      <input type="radio" id="drought" name="color-scheme" value="drought" checked="checked"/>
      <label for="drought">Drought Theme</label>
      <input type="radio" id="cannabis" name="color-scheme" value="cannabis"/>
      <label for="cannabis">Cannabis Theme</label>

      <h2>Navigation menu</h2>

      <div id="menu-html-content"></div>

      <h2>Links</h2>

      <a href="#">default link</a>
      <br><br>
      <a class="wp-block-button__link">call to action link</a>

      <h2>Featured cards</h2>

      <div id="card-grid-html-content"></div>

      <h2>Accordion</h2>

      <div id="accordion-html-content"></div>

      <h2>Step list</h2>

      <div id="step-list-html-content"></div>

      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>

      <h2>Pagination</h2>

      <cagov-pagination data-current-page="5" data-total-pages="99"></cagov-pagination>

      <h2>Per page feedback</h2>

      <cagov-feedback data-endpoint-url="#"></cagov-feedback>

    </div>

    <script type="module">
      import '../menu/src/index.js';
      import '../accordion/dist/index.js';
      import '../feedback/dist/index.js';
      import '../pagination/dist/index.js';
    </script>
    <script>
      fetch('../menu/template.html')
        .then(response => {
          response.text()
        })
        .then(string => {
          document
            .getElementById('menu-html-content')
            .innerHTML = string
        });
      fetch('../card-grid/template.html')
        .then(response => {
          response.text()
        })
        .then(string => {
          document
            .getElementById('card-grid-html-content')
            .innerHTML = string
        });
      fetch('../accordion/template.html')
        .then(response => {
          response.text()
        })
        .then(string => {
          document
            .getElementById('accordion-html-content')
            .innerHTML = string
        });
      fetch('../step-list/template.html')
        .then(response => {
          response.text()
        })
        .then(string => {
          document
            .getElementById('step-list-html-content')
            .innerHTML = string
        });
    </script>

  </body>

</html>