cagov-regulatory-outline {
  ol {
    counter-reset: section;
    list-style-type: none;
    margin-left: 32px;
    padding-left: 32px;

    li {
      counter-increment: section;
      margin: 16px 0;

      &::before {
        content: "(" counter(section, lower-alpha) ") ";
        display: inline-block;
        margin-left: -32px;
        padding-right: 32px;
      }
    }

    ol li {
      &:before {
        content: "(" counter(section, decimal) ") ";
      }

      ol li {
        &:before {
          content: "(" counter(section, upper-alpha) ") ";
        }

        ol li:before {
          content: "(" counter(section, lower-roman) ") ";
        }
      }
    }
  }
}
