{% if baseCssInclude -%}
  <!-- Load Base CSS styles from the Design System. -->
  <link id="template-base-css" rel="stylesheet" href="/_templates/base-css.css" />
{%- endif %}

<!-- Add your markup here. -->
<p>Welcome to your new {{module}} component.</p>
<p>Add your sample mark-up into examples/index.html.</p>
