/* Back to top button */
cagov-back-to-top {
  .back-to-top {
    position: fixed;
    z-index: 99999;
    right: -100px;
    font-size: var(--body-text, 1.125rem);
    padding: 10px 10px 10px 10px;
    bottom: 50px;
    opacity: 0;
    visibility: hidden;
    color: var(--primary-color, #004abc);
    border: 1px solid var(--primary-color, #004abc);
    border-radius: 5px 0px 0px 5px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    @media (max-width: 768px) {
      font-size: var(--body-text-mobile, 1rem);
      padding: 8px 8px 8px 8px;
    }
    &:hover {
      color: var(--primary-dark-color, #003484);
      border: 1px solid var(--primary-dark-color, #003484);
      background-color: var(--gray-100, #f9f9fa);
      svg path {
        fill: var(--primary-dark-color, #003484);
      }
    }

    &:focus {
      outline: 2px solid var(--highlight-color, #fec02f);
    }
    svg {
      width: 16px;
      position: relative;
      top: 3px;
      path {
        fill: var(--primary-color, #004abc);
      }
    }
    // Styles for visible button
    &.is-visible {
      opacity: 1;
      visibility: visible;
      display: inline;
      right: -4px;
    }
  }
}
