<cagov-accordion>
  <details>
    <summary>Lorem ipsum</summary>
    <div class="accordion-body">
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf</p>
      <p>moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
      <p><button>Hello</button></p>
      <p><button>Goodbye</button></p>
      <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda</p>
    </div>
  </details>
</cagov-accordion>
<cagov-accordion>
  <details>
    <summary>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</summary>
    <div class="accordion-body">
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf</p>
      <p>moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
      <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda</p>
    </div>
  </details>
</cagov-accordion>
<cagov-accordion>
  <details>
    <summary>Lorem ipsum</summary>
    <div class="accordion-body">
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf</p>
      <p>moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
      <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda</p>
    </div>
  </details>
</cagov-accordion>