<cagov-accordion>
  <details>
    <summary>Title 1</summary>
    <div class="accordion-body">
      <p>A couple buttons are included inside this accordion to demonstrate that when the accordion is closed they are automatically not in the keyboard focus order but when the accordion opens they become the next available elements in the keyboard navigation sequence after the accordion's summary element.</p>
      <p><button class="btn-primary">Button 1</button></p>
      <p><button class="btn-primary">Button 2</button></p>
    </div>
  </details>
</cagov-accordion>
<cagov-accordion>
  <details>
    <summary>Title 2 multiline lorem ipsum is useful because it has a more-or-less normal distribution of letters</summary>
    <div class="accordion-body">
      <ul>
        <li>Anim pariatur cliche reprehenderit</li>
        <li>moon officia aute, non cupidatat</li>
      </ul>
    </div>
  </details>
</cagov-accordion>
<cagov-accordion>
  <details>
    <summary>Title 3 lorem ipsum dolor sit amet</summary>
    <div class="accordion-body">
      <p>moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
      <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda</p>
    </div>
  </details>
</cagov-accordion>