/* PAGE NAVIGATION */
sidebar cagov-content-navigation .label {
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-4);
  line-height: var(--font-lineheight-3);
  padding: 0;
  margin: 0;
  padding-bottom: var(--s-2);
}

sidebar cagov-content-navigation ul,
sidebar cagov-content-navigation ol:not([class*="menu"]):not([class*="nav"]):not([class*="footer-links"]),
sidebar cagov-content-navigation ul:not([class*="menu"]):not([class*="nav"]):not([class*="footer-links"]) {
  margin: 0;
  text-indent: 0;
  padding: 0;
}

sidebar cagov-content-navigation nav {
  margin-bottom: var(--s-3);
  ul li {
    padding-top: var(--s-2);
    padding-bottom: var(--s-2);
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid var(--gray-300, #e1e0e3);
    line-height: var(--font-lineheight-3);
    list-style: none;
    &:first-child {
      border-top: 1px solid var(--gray-300, #e1e0e3);
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  cagov-content-navigation .label {
    display: none;
  }

  .sidebar-container {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  cagov-content-navigation ul li a {
    font-size: var(--font-size-1);
    line-height: var(--font-lineheight-3);
  }
}
