/* Cagov color scheme root variables */
:root {
  /* Theme colors */
  --primary-100: #e7eef9;
  --primary-300: #a3bee7;
  --primary-500: #5a8ad4;
  --primary-700: #165ac2; // brand color
  --primary-900: #003688;

  --accent1-100: #ffead6;
  --accent1-300: #ffa656;
  --accent1-500: #de6516; // brand color
  --accent1-700: #9c4510;
  --accent1-900: #642a0a;

  --accent2-100: #ffecc4;
  --accent2-300: #ecb32d; // brand color
  --accent2-500: #ac8227;
  --accent2-700: #775a20;
  --accent2-900: #4a3918;
}
