/* Cagov color scheme root variables */
:root {
  /* Theme colors */
  --primary-color: #004ABC;
  --primary-dark-color: #003484;
  --primary-light-color: #4D80D0;
  --primary-lightest-color: #B3C9EB;
  --primary-hover-color: #003484;

  --secondary-color: #FF8000;
  --secondary-dark-color: #B35A00;
  --secondary-light-color: #FFA64D;
  --secondary-lightest-color: #FFD9B3;
  --secondary-hover-color: #B35A00;

  --highlight-color: #FEC02F;
  --highlight-dark-color: #B28621;
  --highlight-light-color: #FED36D;
  --highlight-lightest-color: #FFECC1;
  --secondary-hover-color: #B28621;
}