/* Cagov color scheme root variables */
:root {
  /* Theme colors */
  --primary-color: #004abc;
  --primary-dark-color: #003484;
  --primary-light-color: #4d80d0;
  --primary-lightest-color: #b3c9eb;
  --primary-hover-color: #003484;

  --secondary-color: #ff8000;
  --secondary-dark-color: #b35a00;
  --secondary-light-color: #ffa64d;
  --secondary-lightest-color: #ffd9b3;
  --secondary-hover-color: #b35a00;

  --highlight-color: #fec02f;
  --highlight-dark-color: #b28621;
  --highlight-light-color: #fed36d;
  --highlight-lightest-color: #ffecc1;
  --highlight-hover-color: #b28621;
}
