
/* Colorscheme root variables */
:root {
  /* Theme colors */
  --primary-color: #064E66;
  --primary-dark-color: #043747;
  --primary-light-color: #518394;
  --primary-lightest-color: #B4CAD1;
  --primary-hover-color: #043747;

  --secondary-color: #2F4C2C;
  --secondary-dark-color: #21351F;
  --secondary-light-color: #6D826B;
  --secondary-lightest-color: #C1C9C0;
  --secondary-hover-color: #21351F;

  --highlight-color: #C0633B;
  --highlight-dark-color: #864529;
  --highlight-light-color: #D39276;
  --highlight-lightest-color: #ECD0C4;
  --secondary-hover-color: #864529;
}