/* Colorscheme root variables */
:root {
  /* Theme colors */
  --primary-color: #064e66;
  --primary-dark-color: #043747;
  --primary-light-color: #518394;
  --primary-lightest-color: #b4cad1;
  --primary-hover-color: #043747;

  --secondary-color: #2f4c2c;
  --secondary-dark-color: #21351f;
  --secondary-light-color: #6d826b;
  --secondary-lightest-color: #c1c9c0;
  --secondary-hover-color: #21351f;

  --highlight-color: #c0633b;
  --highlight-dark-color: #864529;
  --highlight-light-color: #d39276;
  --highlight-lightest-color: #ecd0c4;
  --highlight-hover-color: #864529;
}
