// Design System Variables

/* Colorscheme root variables */
:root {
  /* Generic values */
    /* CAGOV brandings */
    --cagov-branding-primary: #FEC02F;
    --cagov-branding-secondary: #0F1E6B;
    
    /* Status colors */
    --status-success-color: #008542;
    --status-danger-color: #B71234;
    --status-warning-color: #FFD700;
    --status-info-color: #000080;
    --status-success-color-200: #CCE7D9;
    --status-danger-color-200: #F8E7EB;
    --status-warning-color-200: #FFFBE6; // OR FFF2D5
    --status-info-color-200: #E6E6F2;
    
    /* Gray scale values */
    --gray-100: #f9f9fa;
    --gray-200: #ededef;
    --gray-300: #e1e0e3;
    --gray-400: #d3d2d6;
    --gray-500: #c4c3c8;
    --gray-600: #b3b2b8;
    --gray-700: #a09fa7;
    --gray-800: #6c6b77;
    --gray-900: #3f3e4d;
    --black: #000;
    --white: #fff;

    --secondary-color: #fec02f;
    --highlight-color: #FBAD23;

    /* Theme colors */
    --primary-color: #004abc;
    --primary-dark-color: #1e1569;
    --primary-light-color: #ccdbf2;

    --secondary-color: #fec02f;
    --secondary-dark-color: #ff8000;
    --secondary-light-color: #fff2d5;
  
    --standout-color: #2f4c2c;
    --standout-hover-color: #21351f;
}