/* Drought color scheme */
:root {
  /* Theme colors */
  --primary-color: #691808;
  --primary-dark-color: #4a1106;
  --primary-light-color: #965d52;
  --primary-lightest-color: #d2bab5;
  --primary-hover-color: #4a1106;

  --secondary-color: #313131;
  --secondary-dark-color: #222222;
  --secondary-light-color: #6f6f6f;
  --secondary-lightest-color: #c1c1c1;
  --secondary-hover-color: #222222;

  --highlight-color: #fbad23;
  --highlight-dark-color: #b07919;
  --highlight-light-color: #fcc665;
  --highlight-lightest-color: #fee6bd;
  --highlight-hover-color: #b07919;
}
