
/* Drought color scheme */ 
:root {
  /* Theme colors */
  --primary-color: #691808;
  --primary-dark-color: #4A1106;
  --primary-light-color: #965D52;
  --primary-lightest-color: #B48C84;
  --primary-hover-color: #4A1106;
  // --primary-active-color: #4A1106;
  // --primary-focused-color: #4A1106;
  // --primary-disabled-color: #4A1106;
  --secondary-color: #313131;
  --secondary-dark-color: #222222;
  --secondary-light-color: #6F6F6F;
  --secondary-lightest-color: #D6D6D6;
  --secondary-hover-color: #222222;
  // --secondary-active-color: #4A1106;
  // --secondary-focused-color: #4A1106;
  // --secondary-disabled-color: #4A1106;
  --highlight-color: #FBAD23;
  --highlight-color-300: #FFF2D5;

  --standout-color: #313131;
  --standout-hover-color: #21351f;
}