.cagov-icon-demo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  text-align: center;

  @media screen and (min-width: 767px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1028px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cagov-icon-demo--card {
  svg,
  a {
    display: block;
    margin: 0 auto 1em;
  }

  svg {
    max-width: 100%;

    @media screen and (min-width: 767px) {
      max-width: 100px;
    }
  }
}
