/* Tablet and wider */
/* Desktop and wider */
/* utility classes */

@media (max-width: 767px) {
  .cagov-nav.menu-trigger {
    z-index: 2000;
  }
}
@media (min-width: 768px) {
  .cagov-nav.menu-trigger {
    z-index: 2000;
  }
} 

/* container that holds the entire menu */
cagov-site-navigation .container {
  padding: 0;
  margin: 0;
}

/* EXPANDED MENU SYTLES */
/* nav menu */
cagov-site-navigation {
  border-bottom: 1px solid var(--gray-300, #e1e0e3);
  background-color: #ffffff;
}

/* no text decoration for header links in the Home link in MOBILE VIEW*/
cagov-site-navigation a.expanded-menu-section-header-link {
  text-decoration: none;
} 

/* disables mobile icons and displays the whole page in block when DESKTOP */
@media (min-width: 768px) {
  cagov-site-navigation {
    display: block;
  }
  cagov-site-navigation .mobile-icons {
    display: none;
  }
}

/* gets rid of all links when MOBILE VIEW */
cagov-site-navigation .expanded-menu-grid {
  display: none;
  max-width: calc(var(--w-lg, '11px') + 32px); 
  margin: 0 auto;
}

/* opens the dropdown menu when you hover over the section links */
cagov-site-navigation .expanded-menu-section:hover  .expanded-menu-dropdown {
  max-height: none;
  top: 54px;
  border: solid 1px #ccc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* rotates the arrow when you hover over the section links */
cagov-site-navigation .expanded-menu-section:hover .expanded-menu-section-header-arrow-svg {
  transform: rotate(180deg);
}

/* adds a background color over section links when hovered */
cagov-site-navigation .expanded-menu-section:hover .expanded-menu-section-header-link {
  background-color: #e1e0e3;
}

/* adds more padding to menu when DESKTOP VIEW */
@media (min-width: 768px) {
  cagov-site-navigation .expanded-menu {
    display: block;
    padding: 0 16px;
  }
}

/* formats child container for 'expanded-menu' */
cagov-site-navigation .expanded-menu-grid {
  margin: 0 auto;
}

/* puts menu columns above the page and in a row when DESKTOP VIEW  */
@media (min-width: 768px) {
  cagov-site-navigation .expanded-menu-grid {
    display: flex;
    justify-content: flex-start;
    column-gap: 0.5rem;
    align-content: flex-start;
    align-items: stretch;
  }
}

/* aligns the text for the menu col */
cagov-site-navigation .expanded-menu-col {
  text-align: left;
}

/* aligns the text for menu section*/
cagov-site-navigation .expanded-menu-section {
  text-align: left;
}

/* formats the container of the menu headers and links when DESKTOP VIEW */
@media (min-width: 768px) {
  cagov-site-navigation .expanded-menu-section {
    padding: 0;
    margin-bottom: 1rem;
    position: relative;
  }
  cagov-site-navigation .expanded-menu-section:last-of-type {
    margin-bottom: 0;
  }
}

/* gets rid of HOME link when DESKTOP VIEW */
@media (min-width: 768px) {
  cagov-site-navigation .expanded-menu-section.mobile-only {
    display: none;
  }
}

/* formats the dropdown links when DESKTOP VIEW */
@media (min-width: 768px) {
  cagov-site-navigation .expanded-menu-section .expanded-menu-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    min-width: 17rem;
    background: #fff;
    padding: 0;
    border: none;
  }
}

/* formats the position and padding of the header links when DESKTOP VIEW*/
@media (min-width: 768px) {
  cagov-site-navigation .expanded-menu-section .expanded-menu-section-header {
    padding-right: 0;
    margin-right: 0;
  }
}

/* adds a border above header links in MOBILE VIEW */
@media (max-width: 767px) {
  cagov-site-navigation .expanded-menu-section.mobile-only {
    border-top: solid 1px var(--gray-300, #e1e0e3);
  }
}

/* the headers for menu options (applicants, licensees, consumers, etc.) */
cagov-site-navigation .expanded-menu-section-header-link {
  display: flex !important;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
  font-size: 1.125rem;
  cursor: pointer !important;
  width: 100%;
  text-transform: none;
  display: block;
  text-align: left;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--primary-color, #064e66);
  outline-offset: -2px;
}

/* underlines the column links when hovered*/
cagov-site-navigation .expanded-menu-section-header-link:hover {
  text-decoration: underline;
  color: var(--primary-hover-color, #043747);
}

/* formats position of header link in DESKTOP view */
@media (min-width: 768px) {
  cagov-site-navigation .expanded-menu-section-header-link {
    justify-content: flex-start;
  }
}

/* positions the arrow */
cagov-site-navigation .expanded-menu-section-header-arrow {
  max-width: 1rem;
  max-height: 1rem;
  transform: translateY(-50%);
  display: block;
  transition: all 0.5s cubic-bezier(0.57, 0.2, 0.21, 0.89);
}

/* the arrow never changes size when changing screen size */
@media (min-width: 768px) {
  cagov-site-navigation .expanded-menu-section-header-arrow {
    transform: none;
  }
}

/* actual arrow */
cagov-site-navigation .expanded-menu-section-header-arrow-svg {
  width: 100%;
  max-width: 20px;
  display: inline-block;
  transition: all 0.6s cubic-bezier(0.5, 1.65, 0.4, 0.8);
}

/* changes display of arrow-svg to block when DESKTOP VIEW */
@media (min-width: 768px) {
  cagov-site-navigation .expanded-menu-section-header-arrow-svg {
    display: block;
  }
}

/* hides the dropdown links for each column */
cagov-site-navigation .expanded-menu-dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.57, 0.2, 0.21, 0.89);
}

/* formats the links of the dropdown */
cagov-site-navigation .expanded-menu-dropdown-link {
  font-weight: 400;
  font-size: 1.125rem;
  padding: 0.5rem 0.25rem;
  display: table;
  transition: color 0.3s cubic-bezier(0.57, 0.2, 0.21, 0.89);
  text-decoration: none;
  width: 100%;
}

/* underlines links of the dropdown when hovered */
cagov-site-navigation .expanded-menu-dropdown-link:hover {
  text-decoration: underline;
  background-color: #F0F0F0;
}

/* formats links of dropdown when DESKTOP VIEW */
@media (min-width: 768px) {
  cagov-site-navigation .expanded-menu-dropdown-link {
    padding: 0.75rem 0.5rem;
    line-height: 2rem;
  }
}

/* formats links of dropdown when MOBILE VIEW */
@media (max-width: 767px) {
  cagov-site-navigation .expanded-menu-dropdown-link {
    padding: 0.5rem 0.25rem 0.5rem 1rem;
    outline-offset: -4px;
  }
  cagov-site-navigation .expanded-menu-dropdown-link:first-child {
    padding-top: 1rem;
  }
  cagov-site-navigation .expanded-menu-dropdown-link:last-child {
    padding-bottom: 1rem;
  }
}

/* MOBILE ICONS */

.menu-icon {
  /* border: 1px solid red; */
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background .2s ease-out;
}

.menu-icon .nav-icon:before {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: 5px;
}

.menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: -5px;
}

.menu-trigger {
  display: none;
}

/* MOBILE ICONS - EXPANDED MENU OPENED */

.menu-trigger:checked ~ .expanded-menu .expanded-menu-grid{
  display: block;
}

.menu-trigger:checked ~ .expanded-menu {
  margin-left: 0;
  border-bottom: solid 1px var(--gray-300, #e1e0e3);
}

.menu-trigger:checked ~ .expanded-menu-col {
  transition: all 0.6s cubic-bezier(0.5, 1.65, 0.4, 0.8);
  opacity: 1;
  transform: translateY(0);
}

/* removes menu button when DESKTOP VIEW */
@media (min-width: 768px) {
  .menu-icon, .menu-trigger {
    display: none !important;
  }

  .expanded-menu-col {
    display: inline-block;
  }
}


/*# sourceMappingURL=index.css.map */
