<div class="deprecation">
  <div class="container">
    <div class="deprecation-msg">
      <p><strong>The Beta Design System is no longer being updated.</strong></p>

      <p>It remains online for reference only. Maintenance, bug fixes, and security updates will continue through July 1, 2026 and are tracked in the <a href="https://github.com/cagov/design-system">Beta GitHub repository</a>.</p>
      <p class="m-b-0">For active development, head over to California's next design system in our <a href="https://github.com/Office-of-Digital-Services/California-Design-System">new GitHub repository</a>.</p>
    </div>
  </div>
</div>