$basic: all 0.2s ease-in-out;
$bounce: all 0.6s cubic-bezier(0.5, 1.65, 0.4, 0.8);
$bounce-curve: cubic-bezier(0.5, 1.65, 0.4, 0.8);

$slow: all 0.5s cubic-bezier(0.57, 0.2, 0.21, 0.89);
$slow-curve: cubic-bezier(0.57, 0.2, 0.21, 0.89);

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

/* MAIN MENU / HAMBURGER */
cagov-navoverlay {
  a:focus, button:focus {
    outline: none !important;
  }
  .container {
    max-width: $w-lg;
		margin: 0 auto;
		/*padding: 0 16px 0 16px;*/
  }

  .mobile-search {
    margin-top: 1rem;
  }
  
  .menu-trigger {
    margin-top: 1rem;
    padding: 0.5em 1em 0.5em 0;
    transition: 0.3s;
    transform-origin: top left;
    display: inline-block;
    cursor: pointer;
    position: relative;

    display: flex;
    align-items: center;

    .is-fixed {
      position: fixed;
    }
    top: -2px;
    right: 0;
    transition: 0.3s;
    transform-origin: center center;
    @include phone {
      z-index: 2000;
    }

    @include tablet {
      z-index: 2000;
    }
    .hamburger-inner {
      background: #000;
    }

    &:hover {
      .hamburger-inner {
        &:before,
        &:after {
          width: 13px;
        }
      }
    }
  }

  .hamburger {
    padding: 0.15rem 0.15rem;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    position: relative;
    transition: $basic;
    vertical-align: middle;
    z-index: 10000;
    margin-right: 0.5rem;
    &-box {
      width: 20px;
      height: 20px;
      display: inline-block;
      position: relative;
    }
    &-inner {
      display: block;
      top: 50%;
      width: 20px;
      margin-top: -1px;
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      &,
      &:before,
      &:after {
        height: 2px;
        border-radius: 0;
        position: absolute;
        transition-property: transform, width, background-color;
        transition-duration: 0.15s;
        transition-timing-function: ease;
      }
      &:before,
      &:after {
        width: 20px;
        content: "";
        display: block;
      }
      &:before {
        top: -6px;
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in,
          width 0.1s 0.12s ease-out;
      }
      &:after {
        bottom: -6px;
        transition: bottom 0.1s 0.25s ease-in,
          transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
          width 0.1s 0.12s ease-out;
      }
    }
  }
}
cagov-navoverlay.display-menu {
  .menu-trigger {
    box-shadow: none;
    .hamburger-inner {
      &,
      &:before,
      &:after {
        transition: 0.3s;
      }
    }
  }
  .hamburger {
    &-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      width: 12px;
      &,
      &:before,
      &:after {
        width: 20px !important;
      }
      &:before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }
      &:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
          transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

/* EXPANDED MENU SYTLES */
cagov-navoverlay {
  border-bottom: 1px solid $gray-300;
  a.expanded-menu-section-header-link {
    /* jbum - this is to override the inherited text-decoration from .interior_page a */
    text-decoration: none;
  }

  &.display-menu {
    .expanded-menu {
      display: block;
    }
  }

  .mobile-icons {
    display: block;
    margin-left: auto;
    display: flex;

    .search-btn {
      display: flex;
      align-items: center;
      svg {
        margin-right: 0.5rem;
      }
    }
    .search-btn,
    .menu-btn {
      border: none;
      background: transparent;
      overflow: visible;
      padding: 10px 10px;
      margin-right: 10px;

      &:hover {
        color: $primary-dark;

        .blue {
          fill: $primary-dark;
        }
      }
      &:focus {
        color: $primary-dark;
        outline: 2px solid $secondary;
      }

      svg {
        position: relative;
        top: 1px;
      }
    }
  }
  @include tablet {
    display: block;
    .mobile-icons {
      display: none;
    }
  }

  .expanded-menu {
    display: none;
    @include tablet {
      display: block;
    }
    &-grid {
      margin: 0 auto;
      @include tablet {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        align-items: stretch;
      }
    }
    &-col {
      margin: 0;
      text-align: left;
    }
    &-section {
      text-align: left;

      &.expanded {
        @include tablet {
          z-index: 3;
        }
        .expanded-menu-dropdown {
          max-height: none;
          top: 2.35rem;

          @include phone {
            padding: .5rem 0;
          }
        }
      }
      @include tablet {
        padding: 0;
        margin-bottom: 1rem;
        position: relative;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      &.mobile-only {
        @include tablet {
          display: none;
        }
      }
      @include tablet {
        .expanded-menu-dropdown {
          position: absolute;
          top: 0;
          left: 0;
          width: auto;
          min-width: 17rem;
          background: #fff;
          padding: 0;
          border: none;
        }
      }
      @include tablet {
        .expanded-menu-section-header {
          padding: 0;
          padding-right: .5rem;
        }
      }
      @include phone {
        border-top: solid 1px $gray-300;
      }

      &.expanded {
        @include phone {
          .expanded-menu-dropdown {
            max-height: 100rem;
          }
        }
        @include tablet {
          .expanded-menu-dropdown {
            max-height: none;
            top: 55px;
            padding: 0.5rem 1rem 1rem 1rem;
            border: solid 1px #ccc;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
          }
        }
        .expanded-menu-section-header-arrow-svg {
          transform: rotate(180deg);
        }
      }
      &-header {
        display: block;
        position: relative;
        @include tablet {
          display: flex;
          align-items: center;
          margin-bottom: 0rem;
          background: #fff;
        }
        &-link {
          font-weight: normal;
          font-size: 1.125rem;
          cursor: pointer !important;
          width: 100%;
          text-transform: none;
          display: block;
          text-align: left;
          transition: $basic;
          border: none;
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-right: 0.5rem; /* arrow clearence for long text */
          padding-left: 1rem;
          color: var(--primary-color, #064E66);
          &:active {
            background: transparent;
          }
          &:hover {
            @include text-underline;
            color: darken($color: $primary, $amount: 15%);
          }

          @include tablet {
            width: auto;
          }
        }
        &-arrow {
          @include size(1rem, 1rem);
          position: absolute;
          top: 50%;
          right: 0.5rem;
          transform: translateY(-50%);
          display: block;
          transition: $slow;
          @include tablet {
            position: relative;
            top: auto;
            right: auto;
            transform: none;
          }
          &-svg {
            width: 100%;
            display: block;
            transition: $bounce;
            margin-top: 0.3rem;
          }
        }
      }
    }
    &-dropdown {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.5s $slow-curve;

      &-link {
        font-weight: 400;
        font-size: 1.125rem;
        padding: 0.5rem 0.25rem;
        margin: 0.15rem 0 0.15rem 2px;
        display: table;
        transition: color 0.3s $slow-curve;
        border-radius: 1rem;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &.current-page-highlight {
          font-weight: bold;
        }
        @include tablet {
          padding: .5rem 0;
          line-height: 2rem;
        }
        @include phone {
          padding: .5rem .25rem .5rem 1rem;
        }
      }
    }
    &-grouping {
      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }
  }
}
cagov-navoverlay.display-menu {
  overflow: hidden;
  .expanded-menu {
    transform: translateX(0);
    visibility: visible;
    @include tablet {
      @include size(100vw, 100vh);
      opacity: 1;
      visibility: visible;
    }
    &:focus {
      outline: none;
    }
  }
  .expanded-menu {
    @include phone {
      margin-left: -15px;
      width: 100vw;
    }
    &-col,
    &-search {
      @include tablet {
        transition: all 0.6s $bounce-curve;
        opacity: 1;
        transform: translateY(0);
      }
    }
    &-col {
      @include tablet {
        &.section-get-help {
          transition-delay: 0.15s !important;
        }
        &.section-health-info {
          transition-delay: 0.3s !important;
        }
        &.section-working-living-safely {
          transition-delay: 0.45s !important;
        }
        &.section-you-help {
          transition-delay: 0.6s !important;
        }
      }
    }
  }
}
cagov-navoverlay {
  .expanded-menu-close-mobile {
    &-svg {
      width: 1rem;
      transform: rotate(180deg);
    }
  }
}

.expanded-menu-section-header-arrow-svg {
  max-width: 20px;
}
