<!doctype html>
<html lang="en">
  <!-- this file includes html tags and title and role=main element so axe can be run manually to verify 0 errors -->
  <head>
    <title>Navigation menu component</title>
    <link href="index.css" rel="stylesheet">
  </head>
  <body>

    <div role="main">

      <h1>Navigation menu component preview</h1>

      <div id="menu-html-content"></div>

    </div>

    <script src="src/index.js" type="module" /></script>

    <script>
      fetch('template.html')
        .then(response => response.text())
        .then((string) => {
          document.getElementById('menu-html-content').innerHTML = string;
        });
    </script>

  </body>
</html>