{% extends "layouts/component-index.njk" %}

{% block meta %}
  {% if has["readme"] %}<meta itemprop="additionalProperty" content="has:readme">{% endif %}
  {% if has["use-cases"] %}<meta itemprop="additionalProperty" content="has:use-cases">{% endif %}
  {% if has["changelog"] %}<meta itemprop="additionalProperty" content="has:changelog">{% endif %}
{% endblock %}