<!doctype html>
<html lang="en">
<head>
  <title>{{ metadata.page_title }}</title> 
  <link rel="preload" href="/fonts/publicsans-bold-webfont.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/fonts/publicsans-regular-webfont.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/fonts/CaGov.woff2" as="font" type="font/woff2" crossorigin />
  <meta charset="utf-8">
	<!-- http://t.co/dKP3o1e -->
	<meta name="HandheldFriendly" content="True" />
	<!-- for Blackberry, AvantGo -->
	<meta name="MobileOptimized" content="320" />
	<!-- for Windows mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <!-- OG tags -->
 	<meta name="author" content="State of California" />
	<meta name="description" content="{{ metadata.page_description | striptags }}" />
	<meta name="keywords" content="{{ metadata.keywords }}" />
  <link rel="canonical" href="{{ metadata.canonical_url }}" />
  <meta property="og:url" content="{{ metadata.canonical_url }}" />
  <meta property="og:description" content="{{ metadata.open_graph_description | striptags }}" />
  <meta property="og:title" content="{{ metadata.open_graph_title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ metadata.social_image_url }}" />
  <meta property="og:image:width" content="{{ metadata.social_image_width }}" />
  <meta property="og:image:height" content="{{ metadata.social_image_height }}" />
  <meta property="og:image:alt" content="{{ metadata.social_image_alt_text }}" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{ metadata.site_name }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ metadata.twitter_title }}" />
  <meta name="twitter:image" content="{{ metadata.social_image_url }}" />
  <meta name="twitter:image:width" content="{{ metadata.social_image_width }}" />
  <meta name="twitter:image:height" content="{{ metadata.social_image_height }}" />
  <meta property="twitter:image:alt" content="{{ metadata.social_image_alt_text }}" />
  <link title="fav icon" rel="icon" href="/img/favicon.ico">
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <!-- Google Analytics performance -->
  <link rel="preconnect" href="https://www.google-analytics.com/" />

  {% block meta %}
  {% endblock %}

  <!-- CSS -->
  {% block css %}
    {% set css %}
      {% include "../../../../_site_dist/index.css" %}
    {% endset %}
    <!-- the inlined hardcoded grid css below is there because it was breaking sass compilation -->
    <style>
      {{ css | safe }}
      .cagov-grid {
        grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
      }
    </style>
  {% endblock %}

  {% block js %}
    {% set js %}
      {% include "../../../../_site_dist/built.js" %}
    {% endset %}
    <script type="module">
      {{ js | safe }}
    </script>
  {% endblock %}
</head>

<body>
  <div id="skip-to-content"><a href="#body-content">Skip to content</a></div>

  <header class="header-container">
    {% block statewideHeader %}
      {% include "statewide-header.njk" %}
    {% endblock %}

    {% block siteHeader %}
      {% include "site-header.njk" %}
    {% endblock %}

    {% block siteNavigation %}
      {% include "site-navigation.njk" %}
    {% endblock %}
  </header>

  {% block content %}
    {{ content | safe }}
  {% endblock %}

  <div class="footer-container">
    {% block agencyFooter %}
      {% include "site-footer.njk" %}
    {% endblock %}
    {% block statewideFooter %}
      {% include "statewide-footer.njk" %}
    {% endblock %}
  </div>
</body>

</html>