{% extends "layouts/index.njk" %}
{% block content %}
  <main class="cagov-main">
    <article id="post-{{ page.fileSlug }}" class="cagov-article with-sidebar with-page-nav">
      <h1 class="page-title title-cell">
        {{ title | safe }}
      </h1>
      <div class="sidebar-container everylayout sidebar-cell" style="z-index: 1;">
        <sidebar space="0" side="left">
          {% block contentNavigation %}
            {% include "page-navigation.njk" %}
          {% endblock %}
        </sidebar>
      </div>
      <div class="cagov-content content-cell">
        {{ content | safe }}
      </div>
    </article>
  </main>
{% endblock %}