{% extends "layouts/index.njk" %}
{% block content %}
  <main id="body-content" class="cagov-main">
    <article id="post-{{ page.fileSlug }}" class="cagov-article with-single-column">
      <h1 class="page-title">
        {{ title | safe }}
      </h1>
      <div class="cagov-content">
        {{ content | safe }}
      </div>
    </article>
  </main>
{% endblock %}