/* call to action */
.cagov-cta { 
  background-color: #33705B; /* defined here for when css vars are not supported */
  background-color: var(--primary-color, #33705B); /* variable used with fallback in case it is not defined */
  color: white;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: bold;
  display: inline-block;
  border: none;
  text-decoration: none;
}
